@page "/test1"
@inherits ScreenBase
<KitScreen Model=@this>

    <h3>Test1</h3>

    <KitTextField Binding=@(() => fooBar) />
    <KitCheckbox Binding=@(() => trueFalseOther) TriState=@false />
    <KitCheckbox Binding=@(() => trueFalseOther) TriState=@true />
    @*<KitDateTimePicker Label="FOO" Binding=@(() => dt1) />*@
    <KitDateTimePicker Binding=@(() => dt1) Disabled=@dt1Disabled ReadOnly=@dt1ReadOnly />
    <KitDateOnlyPicker Binding=@(() => dt1) Disabled=@dt1Disabled ReadOnly=@dt1ReadOnly />
    <KitTimeOnlyPicker Binding=@(() => dt1) Disabled=@dt1Disabled ReadOnly=@dt1ReadOnly />
    <KitCheckbox Binding=@(()=> dt1Disabled) />
    <KitCheckbox Binding=@(()=> dt1ReadOnly) />

    <DatePicker @bind-Value=do1 />
    <TimePicker @bind-Value=to1 />

    <div>
        The value is: @fooBar
    </div>
    <div>
        The value is: @trueFalse
    </div>
    <div>
        The value is: @trueFalseOther
    </div>

    <div>
        The value is: @dt1
    </div>
    <div>
        The value is: @do1
    </div>
    <div>
        The value is: @to1
    </div>

</KitScreen>
@code {
    private string fooBar = "This is foobar";

    private bool trueFalse = true;
    private bool? trueFalseOther = null;

    private static readonly DateTime Future = DateTime.Now.AddDays(10);
    private DateTime? dt1 = Future;
    private bool dt1Disabled = false;
    private bool dt1ReadOnly = false;


    //private DateOnly? do1 = DateOnly.FromDateTime(Future);
    //private TimeOnly? to1 = TimeOnly.FromDateTime(Future);
    private DateTime? do1 = Future;
    private DateTime? to1 = Future;
}
