<h3>Sign In</h3>

<div class="row">
<div class="col-md-6">

@if (_authState?.User?.Identity == null)
{
	<p>
		Getting your authentication status...
	</p>
}
else if (_authState.User.Identity.IsAuthenticated)
{
	<p>
		You are already Signed In.
	</p>
}
else
{
	<ul id="signInMethodTabs" class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link @(_showExternal ? "" : "active")" href="#" @onclick:preventDefault=@true @onclick=ShowLocal>Local</a>
		</li>
		<li class="nav-item">
			<a class="nav-link @(_showExternal ? "active" : "")" href="#" @onclick:preventDefault=@true @onclick=ShowExternal>External</a>
		</li>
	</ul>
	<div id="signInMethodContent" class="tab-content">
		@if (!_showExternal)
		{
			<div class="row">
				<div class="col-md-8">
					<p>
						Use a local account to sign in.
					</p>
					<hr />
					<EditForm Model=@_input OnValidSubmit=@DoSignIn>
						<DataAnnotationsValidator />
						<CustomValidator @ref=_customValidator />
						<ValidationSummary Model=@_input />
						<div class="form-group">
							<label for="username">Username</label>
							<InputText id="username" type="text" class="form-control" @bind-Value=_input.Email />
							<ValidationMessage For=@(() => _input.Email) />
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<InputText id="password" type="password" class="form-control" @bind-Value=_input.Password />
							<ValidationMessage For=@(() => _input.Password) />
						</div>
						<div class="form-group form-check">
							<InputCheckbox id="rememberMe" class="form-check-input" @bind-Value=_input.RememberMe />
							<label class="form-check-label" for="rememberMe">Remember me?</label>
							<ValidationMessage For=@(() => _input.RememberMe) />
						</div>
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Sign In</button>
						</div>
					</EditForm>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<p>
							<NavLink href="/Account/ForgotPassword">Forgot your password?</NavLink>
						</p>
						<p>
							<NavLink href="/Account/Register">Register as a new user</NavLink>
						</p>
						<p>
							<NavLink href="/Account/ResendEmailConfirmation">Resend email confirmation</NavLink>
						</p>
					</div>
				</div>
			</div>
		}
		else
		{
			<p>
				Use another service to sign in.
			</p>
			<hr />
			<div class="form-group">
				<div>
					(External Auth Services Are Not Supported Yet)
				</div>

				<p>
					There are no external authentication services configured.
					See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
					about setting up this ASP.NET application to support logging in via external services</a>.
				</p>
			</div>
		}
	</div>
}

</div>
</div>

@code {
	bool _showExternal;

	void ShowLocal() => _showExternal = false;

	void ShowExternal() => _showExternal = true;
}