<h3>Sign Out</h3>

@if (_authState?.User?.Identity?.IsAuthenticated ?? false)
{
	<p>
		You are currently Signed In.
	</p>
	<EditForm Model=@this OnValidSubmit=@DoSignOut>
		<CustomValidator @ref=_customValidator />
		<ValidationSummary Model=@this />
		<p>
			Are you sure you want to Sign Out?
		</p>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Sign Out</button>
			<button class="btn btn-secondary" @onclick="DoCancel">Cancel</button>
		</div>
	</EditForm>
}
else
{
	<p>
		You are already Signed Out.
	</p>
}

